parameters:
	level: max
	paths:
		- src
	exceptions:
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		implicitThrows: false
		checkedExceptionClasses:
			- Shredio\TypeSchemaCompiler\Exception\RuntimeException

services:
	-
		class: Shredio\TypeSchema\PhpStan\ArrayShapeReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
	-
		class: Shredio\TypeSchema\PhpStan\ValidatorReturnTypeExtension
		tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
